[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
flake8 = "*"
requests = "*"
black = "*"
fastapi = "*"
pydantic = "*"
mypy = "*"
transformers = "*"
pytorch-lightning = "*"
torch = "*"
uvicorn = "*"
python-multipart = "*"
aiofiles = "*"
pathlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
